<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#4feb34" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta content="console" property="og:title" />
        <meta content="/run.bat" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb | about me</title>
	</head>
	<body class="bg-slate-800 font-dmmono text-green-200 p-3">
        <script>
            const mainlog_btn = document.getElementById('mainlog')
            const mainlog_acc = document.getElementById('mainlog_accept')
            const mainlog_den = document.getElementById('mainlog_deny')

            const mainlog_1 = document.getElementById('mainlog_1')
            const mainlog_2 = document.getElementById('mainlog_2')

            /*helper*/

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            async function mainlog() {
                mainlog_1.className = " "
                await sleep(2000);
                mainlog_2.className = " "
                await sleep(200);
                mainlog_acc.className = "bg-slate-700"
                await sleep(10)
                mainlog_den.className = "bg-slate-700"
            }

            mainlog_btn.addEventListener("click", mainlog)
        </script>

        <p class="mb-6">CONSOLE[Z2KADMIN]</p>
        <p><span class="text-red-500">ERR: </span>log not found</p>
        <button class="bg-slate-700" id="mainlog">interface > | click to retry search |</button>
        <p id="mainlog_1" class="hidden">searching console/z2kadmin/...</p>        
        <p id="mainlog_2" class="hidden">found log file (20-4-08.log)</p>   
        <a class="bg-slate-700 hidden" href="mainlog" id="./mainlog_accept">interface > | open |</a>
        <button class="bg-slate-700 hidden" id="mainlog_deny">| close |</button>
	</body>
</html>
