<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#4feb34" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta content="console" property="og:title" />
        <meta content="/mainlog" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb | about me</title>

        <script src="../z2k/main.js"></script>
	</head>
	<body class="bg-slate-800 font-dmmono text-green-200 p-3">
        <div id="content">
			<p class="mb-6">CONSOLE[Z2KADMIN]/mainlog.log</p>
    		<p>SPEECHRECOGNITION FLAG SET TO: 1 <span class="text-green-400">[11:23:11]</span></p>
			<p>MAINFOCUS FLAG SET TO: SECTOR_A2 <span class="text-green-400">[11:23:17]</span></p>
			<p>WARN: SAFETYSYSTEM FAILED TO INITIALIZE <span class="text-green-400">[11:23:17]</span></p>
			<p>STATUS: ALIVE | BPM: 56 <span class="text-green-400">[11:23:52]</span></p>
			<p>SUBJECT #01111010 MONITORING.. <span class="text-green-400">[11:23:23]</span></p>
			<p>SUBJECT DEEMED FIT FOR EXPERIMENT[7265766976616C] <span class="text-green-400">[11:24:01]</span></p>
			<p>SPEECH RECOGNITION <span class="text-green-700">></span> Person 1: <span class="text-yellow-200">Vitals seem okay, i think hes ready for phase 2.</span> <span class="text-green-400">[11:24:12]</span></p>
			<p>SPEECH RECOGNITION <span class="text-green-700">></span> Person 2: <span class="text-yellow-200">His Teriachrites seems abnormal, are you sure?</span> <span class="text-green-400">[11:24:17]</span></p>
			<p>SPEECH RECOGNITION <span class="text-green-700">></span> Person 1: <span class="text-yellow-200">Even if he was to break out, the safety system will deal with it.</span> <span class="text-green-400">[11:24:23]</span></p>
			<p>SPEECH RECOGNITION <span class="text-green-700">></span> Person 1: <span class="text-yellow-200">Lets move him out now.</span> <span class="text-green-400">[11:24:29]</span></p>
			<p>WARN: CONTAINMENT OPENED <span class="text-green-400">[11:24:54]</span></p>
			<p>WARN: RESTRICTORS OVERRIDED <span class="text-green-400">[11:25:13]</span></p>
			<p class="text-red-400">ALERT: SUBJECT HOSTILE <span class="text-green-400">[11:25:13]</span></p>
			<p>SPEECH RECOGNITION <span class="text-green-700">></span> Person 1: <span class="text-yellow-200">OH GOD OH JESUS HEL <span class="text-red-500">(err: audio non recognizable)</span> <span class="text-green-400">[11:25:17]</span></p>
			<p class="text-red-400">ERR: SYSTEM_CRITICAL_COMPONENT_DMG <span class="text-green-400">[--:--:--]</span></p>
			<p class="mt-2 text-slate-300">exit code -1</p>
		</div>
	</body>
</html>
