---
import Card from "../components/card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#d9cc9c" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="yourlocalonion">
		<meta content="onionweb | about me" property="og:title" />
        <meta content="who are u and how did you get into my house" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb | about me</title>
	</head>
	<body class="bg-slate-800">
		<div class="my-7">
			<h1 class="font-noto font-semibold animate-wiggle overflow-hidden text-4xl text-center text-orange-100">welcome to the onionweb™</h1>
			<p class="font-noto font-semibold text-md text-center text-orange-100">about me</p>
		</div>
		<div class="text-center mb-3 border-b-4 border-gray-700">
			<a href="../" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">index.astro</a>
			<a href="../thoughtroom" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">thoughtroom.astro</a>
		</div>
		<div class="p-2 md:p-0">
			<Card title="who_am_i">
				<p class="font-dmmono font-regular text-xl text-black">
					im yourlocalonion, and i live in philippines. (you should visit this country if you can)<br>
                    im 15, my birthday is at sept 17.
				</p>
			</Card>
			<Card title="skills_yeahh">
				<p class="font-dmmono font-regular text-xl text-black">
					i uh... dont really have skills. but for programming skills, i do have<br>
                    experience in lua (bc roblox) and a bit of html, css and js. that's<br>
                    really it.
				</p>
			</Card>
            <Card title="other_platforms_aka">
				<p class="font-dmmono font-regular text-xl text-black">
					discord: yourlocalonion<br>
					github: yourlocalonion<br>
					Guilded: yourlocalonion<br>
					Revolt: yourlocalonion<br>
                    roblox: TestingAccount_7722<br>
                    X (twitter): @ThyPixelicious<br>
                    Miraheze: Yourlocalonionion<br>		
				</p>
			</Card>
            <Card title="favorite_roblox_game">
				<p class="font-dmmono font-regular text-xl text-black">
					my current favorite roblox game is a game called <strong>wubby</strong>.<br>
					maybe you've heard it before but if not go try it out!<br>
					(its a sandbox game similar to blockate)
				</p>
            </Card>
            <Card title="random_facts_abt_me">
				<p class="font-dmmono font-regular text-xl text-black">
					fact #1: i almost <strong>NEVER</strong> finish projects.<br>
                    fact #2: im the most active in weekends<br>
                    fact #3: my timezone is (GMT+8)<br>
                    final fact: <strong>Goober.</strong>
				</p>
            </Card>
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>
