---
import Card from "../components/card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#d9cc9c" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="yourlocalonion">
		<meta content="onionweb" property="og:title" />
		<meta content="hii heyy helloo" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb</title>
	</head>
	<body class="bg-slate-800">
		<div class="my-7">
			<h1 class="font-noto font-semibold animate-wiggle overflow-hidden text-4xl text-center text-orange-100">welcome to the onionweb™</h1>
			<p class="font-noto font-semibold text-md text-center text-orange-100">title page</p>
		</div>
		<div class="text-center mb-3 border-b-4 border-gray-700">
			<a href="./aboutme" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">aboutme.astro</a>
			<a href="./thoughtroom" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">thoughtroom.astro</a>
		</div>
		<div class="p-2 md:p-0">
			<Card title="hey">
				<p class="font-dmmono font-regular text-xl text-black">
					hi there!! welcome to my page<br>
				</p>
			</Card>
			<Card title="wat_iz_this">
				<p class="font-dmmono font-regular text-xl text-black">
					to be honest... i dont know :P<br>
					i probably made this page to test stuff out i guess..?
				</p>
			</Card>
			<Card title="whats_my_status">
				<p class="font-dmmono font-regular text-xl text-black">
					my discord status is: <span id="dcstat" class="">(loading)</span><br>
					online or dnd: online (you can talk to me or ping me)<br>
					idle or offline: prob sleeping or away
				</p>
			</Card>
			<Card title="this_page_was_made_possible_by">
				<p class="font-dmmono font-regular text-xl text-blue">
					this page was built with <a href="https://astro.build" class="text-sky-700 underline">Astro!</a><br>
					this page is hosted on <strong>Cloudflare Pages!</strong> (github pages but on steroids)<br>
					this page is also using <a class="text-sky-700 underline">Tailwind CSS!</a>
				</p>
			</Card>
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>
