
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Changa:wght@200..800&display=swap" rel="stylesheet">

    <title>CSO - Onion #1053</title>
</head>
<body class="grid grid-cols-4">
    <div class="col-span-full md:col-start-2 md:col-end-4 h-3">
        <div class="pt-4 px-4">
            <p class="text-3xl font-changa font-semibold md:inline">Council Of Sentient Onions</p>
            <p class="text-3xl font-changa xl:inline xl:float-right">Onion #1053</p>
        </div>
        <div class="px-4 pt-4">
            <p class="bg-yellow-200 py-2 mb-4 rounded text-center">This Onion is being monitored.</p>
            <p><span class="font-bold">Entity Name</span>: "yourlocalonion"</p>
            <p><span class="font-bold">Time since harvested</span>: 15 Years (2008)</p>
            <p><span class="font-bold">Gender</span>: Male</p>
            <p><span class="font-bold">Species</span>: Allium cepa (Common Onion)</p>
            <p><span class="font-bold">Origin Location</span>: <span class="bg-gray-500 text-white px-2 rounded">Unknown (likely in the Philippines)</span> </p>
            <p><span class="font-bold">Current status</span>: <span class="bg-yellow-200 border-yellow-400 border-2 px-2 rounded">Monitored</span></p>
        </div>

        <div class="px-4 pt-4">
            <p class="font-bold">Means of Communications</p>
            <p>- Digital Services</p>
        </div>

        <div class="px-4 pt-4">
            <p class="font-bold">Means of Movement</p>
            <p>- <span class="bg-gray-500 text-white px-2 rounded">Unknown</span></p>
        </div>

        <div class="px-4 pt-4">
            <p class="font-bold">Known Entity Violations</p>
            <p>- Unauthorized Access to multiple Agricultural Databases. <span class="border-gray-500 border-2 px-2 rounded">August 4, 2024</span> <span class="bg-yellow-200 border-yellow-400 border-2 px-2 rounded">Monitored</span></p>
            <p>- Attempted to impersonate a council member. <span class="border-gray-500 border-2 px-2 rounded">January 14, 2024</span></p>
            <p>- Attempted to change this registry. <span class="border-gray-500 border-2 px-2 rounded">January 2, 2024</span></p>
            <p>- Attempted to access council archives. (claimed he was "a bit silly") <span class="border-gray-500 border-2 px-2 rounded">December 12, 2023</span></p>
    </div>
</body>
</html>