---

import Card from "../components/card.astro"
import { Image } from 'astro:assets';

import lmao from '../assets/lmao.png'
import clutch from '../assets/clutch.png'
import explorer from '../assets/explorer.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#d9cc9c" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="yourlocalonion">
		<meta content="onionweb | thoughtroom" property="og:title" />
        <meta content="random thoughts go!!" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb | thoughtroom</title>
	</head>
	<body class="bg-slate-800">
		<div class="my-7">
			<h1 class="font-noto font-semibold animate-wiggle overflow-hidden text-4xl text-center text-orange-100">welcome to the onionweb™</h1>
			<p class="font-noto font-semibold text-md text-center text-orange-100">thoughtroom</p>
		</div>
		<div class="text-center mb-3 border-b-4 border-gray-700">
			<a href="../" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">index.astro</a>
			<a href="../aboutme" class="text-gray-900 bg-gray-400 p-1 border-2 border-gray-700 none">aboutme.astro</a>
		</div>
		<div class="p-2 md:p-0">
			<Card title="whats_this">
				<p class="font-dmmono font-regular text-xl text-black">
					if i get random thoughts that i wanna share to the world i post them here.
				</p>
			</Card>

            <hr class="border-slate-900 border-2 border-solid mb-10">

			<Card title="file_explorer_preview" id="file_explorer_preview">
				<p class="font-dmmono font-regular text-md text-center text-black">almost got flashbanged by the boysinger always have file explorer preview open 🙏</p>
				<p class="font-dmmono font-regular text-md text-center text-black"><strong>update: they sent me another one almost clicked on it stay safe 🙏</strong></p>
				<Image src={explorer} alt="yea" class="mr-auto ml-auto mb-2"/>
			</Card>
			<Card title="clutch" ext=".png" id="pixelgun">
				<Image src={clutch} alt="yea" class="mr-auto ml-auto mb-2"/>
				<p class="font-dmmono font-regular text-md text-center text-black">just clutched in pixel gun 3d</p>
			</Card>
			<Card title="lmao" ext=".png" id="voidexposed">
				<Image src={lmao} alt="yea" class="mr-auto ml-auto mb-2"/>
				<p class="font-dmmono font-regular text-md text-center text-black">no i wont release the full image go find it urself</p>
			</Card>
            <Card title="bagelss" id="bagels">
                <p class="font-dmmono font-regular text-xl text-black">are bagels donuts.. or are donuts bagels...</p>
            </Card>
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>
