---
import CardLeft from "../components/card_left.astro"
import Card from "../components/card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#d9cc9c" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="yourlocalonion">
		<meta content="onionweb | thoughtspace" property="og:title" />
        <meta content="random thoughts go!!" property="og:description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>onionweb | thoughtroom</title>
	</head>
	<body class="bg-slate-800">
		<div class="my-7">
			<h1 class="font-noto font-semibold animate-wiggle overflow-hidden text-4xl text-center text-orange-100">welcome to the onionweb™</h1>
			<p class="font-noto font-semibold text-md text-center text-orange-100">thoughtroom</p>
		</div>
		<div class="p-2 md:p-0">
			<CardLeft title="whats_this">
				<p class="font-dmmono font-regular text-xl text-black">
					if i get random thoughts that i wanna share to the world i post them here.
				</p>
			</Card>

            <hr class="border-slate-900 border-2 border-solid mb-10">
            <Card title="bagelss">
                <p class="font-dmmono font-regular text-xl text-black">are bagels donuts.. or are donuts bagels...</p>
            </Card>
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>
