<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">

    <title>TMP7342</title>
</head>
    <body class="grid grid-cols-4 font-mono">
        <div class="col-start-2 col-end-4 mt-8 p-4 border border-black">
            <div class="mb-4">
                <h1 class="font-novae text-2xl"><i>novae industries</i></h1>
                <hr class="border-black">
            </div>
            <p class="mb-2">
                "Temporal Mutation Disorder (TMP) - First Recorded Case" <br>
                July 17, 2004 | Theta Facility (Θ-FAC) <br>
                TMP-7342 | CLASSIFIED (L5)
            </p>
            <p class="mb-8">
                Subject Name: <span class="text-black bg-black selection:text-black">----- -----</span> <br>
                Age: 37 <br>
                Occupation: Senior Engineer <br>
                Investigation Officer: <span class="text-black bg-black selection:text-black">-------- ----</span>
            </p>
            <p class="mb-8">
                At 09:34, during routine maintenance with the "Temporal Displacement Field Device (TDFD)", <span class="text-black bg-black selection:text-black">----- -----</span> 
                was exposed to a Temporal Anchor Field (TAF) malfunction (cause of which is still unknown) causing him to be sent to 
                multiple points in time all within a span of 10 seconds. During the displacement, witnesses said they "saw a
                hole in the space time continuum". When <span class="text-black bg-black selection:text-black">----- -----</span> returned
                to the main temporal timeline, severe psychological and physical abnormalities were found, marking
                the first case of whats now referred a <strong>"Temporal Mutation Disorder (TMP)"</strong>.
            </p>
            <p class="mb-2">
                EVENT CHRONOLOGY <br>

                09:34 - <span class="text-black bg-black selection:text-black">----- -----</span> was exposed to a TAF malfunction and was sent to multiple points in time.
                <span class="text-black bg-black selection:text-black">----- -----</span> returned with major abnormalities and was sent for medical treatment. <br> <br>
                09:47 - <span class="text-black bg-black selection:text-black">----- -----</span> arrived at the <span class="text-black bg-black selection:text-black">-- ------ ----</span> 
                hospital's emergency room, where the initial syptoms first appeared. Doctors observed elongation of limbs, irregular
                tissue growth and disfigured facial features. Muscular atrophy was noted in some regions while hypertrophy occurred in others within minutes.
                Doctors reported intense screaming and screeches from <span class="text-black bg-black selection:text-black">----- -----</span> that "did not sound human". <br> <br>
                10:12 - Subject's body appeared to enter a cycle of mutations, where physical changes would occur approximately
                every five minutes. <span class="text-black bg-black selection:text-black">----- -----</span>'s body experienced spontaneous skeletal reformation and rapid
                skin discoloration, suggesting that <span class="text-black bg-black selection:text-black">----- -----</span>'s biology
                was attempting to adapt to the various environments and time period it had experienced. <br> <br>
                11:23 - <span class="text-black bg-black selection:text-black">----- -----</span>'s speech became incoherent. Psychological tests
                revealed "severe memory fragmentation". <span class="text-black bg-black selection:text-black">----- -----</span> shortly
                died after three hours after the incident. No person knew where his body was sent.

            </p>
        </div>
    </body>
</html>